.ListKru{
    width: 45vw;
}
.Kru{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.Kru-header {
    background-color: gold;
    border-radius: 5vh;
    height: 10vh;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-left: 3vw;
    padding-right: 3vw;
}
.Kru-header:hover{
    cursor: pointer;
}
.Kru-body {
    background-color:goldenrod;
    border-radius: 5vh;
    border: 1vh solid gold;
    width: 43vw;
    margin-top: -10vh;
    padding-top: 10vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.detail-key{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2vw;
    width: 100px;
}
.detail-value{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Kru-foto{
    width: 35vw;
    height: 20vw;
}
.Rangkum{
    margin-left: 4vw;
    display: flex;
    flex-direction: row;
}
.h2writing{
    margin-top: 0px;
    margin-bottom: 0px;
}
.triangle{
    width: 5vh;
    height: 5vh;
}